img {
	max-width: 100%;
}
header {
	margin-bottom: 10px;
}
nav {
	border-bottom: 1px solid #a9a9a9;
}
.right_part ul li a {
	padding: 0 10px;
}
div#root {
	min-height: 100vh;
	padding-bottom: 60px;
	position: relative;
}
footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: #000;
	color: #fff;
	text-align: center;
	line-height: 60px;
}
.loading_icon {
	display: block;
	text-align: center;
}
.searchform {
	margin-bottom: 10px;
}
.username {
	padding: 10px 0;
	word-wrap: break-word;
}

.resetbtn {
	margin-left: 10px;
}
